:root {
    --axent: #2196f3;
    --dark-axent: rgba(24, 140, 232, 1);
    --main: #2f303a;
    --section: #f5f4fa;
    --background: #ffffff;
    --title: #212121;
    --text: #757575;
    --firstlogo: #000000;
    --maintext: #ffffff;
    --contacts: rgba(255, 255, 255, 0.6);
    --border: #eeeeee;
    --heder-shadow: #ececec;
    --logos: rgba(175, 177, 184, 1);
    --buttons: rgba(255, 255, 255, 0.1);
    --text-backround: rgba(47, 48, 58, 0.8);
    --modal: rgba(0, 0, 0, 0.1);
    --modal-border: rgba(33, 33, 33, 0.2);
    --footer-border: rgba(255, 255, 255, 0.3);
    --panel: rgba(33, 150, 243, 0.9);
  }